/*  nobs-alt-4.css - A color scheme, replaces nobs-default.css

    Author: https://github.com/jxmot
    Repository: https://github.com/jxmot/website_template-no_bootstrap
*/
:root{
    /* Element Colors... */
    --body-bg: var(--seashell);
    --body-text: var(--black);

    --nav-header-bgcolor: var(--copper-red);
    /* --nav-header-shadow: var(--grey); */

    --nav-menu-text-hover: var(--champagne-pink);
    --nav-menu-text: var(--white);

    --nav-logo-text: var(--white);

    --nav-menu-hamb-hover-bgcolor: var(--champagne-pink);
    --nav-menu-hamb-hover-color: var(--black);
    /* this actually the color of the hambuger icon */
    --nav-hambicon-bgcolor: var(--champagne-pink);

    --footer-text: var(--white);
    --footer-bgcolor: var(--nav-header-bgcolor);

    --totop-inact-bgcolor: var(--trans-red);
    --totop-act-bgcolor: var(--trans-green);
    --totop-content-color: var(--white);
    --totop-border-color: var(--white);

    --contact-form-info-bgcolor: var(--nav-header-bgcolor);
    --contact-form-info-color: var(--white);
    --contact-form-form-bgcolor: var(--white);
    --contact-form-form-color:  var(--black);
    --contact-form-form-focus:  var(--gold);
    --contact-form-form-input-border:  var(--black);
    --contact-form-form-button-bgcolor: var(--light-grey);
}