/* Lightbox CSS

    Originally found at:
        https://www.w3schools.com/howto/howto_js_lightbox.asp

    Extensively Modified By: 
        https://github.com/jxmot

    Repository: https://github.com/jxmot/website_template-no_bootstrap

    To Do:
        * change positions in pixels to rem's 
        * 

*/
.lb-row > .lb-column {
    padding: 0 8px;
}

.lb-row:after {
    content: "";
    display: table;
    clear: both;
}

.lb-column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.lb-modal {
    z-index: 1;

    display: none;
    position: fixed;
    /* this positioning is independant from the "X" */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--lightbox-modal-bgcolor);
}

/* Modal Content */
.lb-modal-content {
    position: relative;
    background-color: var(--lightbox-modal-content-bgcolor);
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.lb-close {
    color: var(--lightbox-modal-close);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.lb-close:hover,
.lb-close:focus {
    color: var(--lightbox-modal-close-hover);
    text-decoration: none;
    cursor: pointer;
}

.lb-slides {
    display: none;
}

.lb-cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.lb-prev,
.lb-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--lightbox-modal-next);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.lb-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.lb-prev:hover,
.lb-next:hover {
    background-color: var(--lightbox-modal-next-hover-bgcolor);
}

/* Number text (1/3 etc) */
.lb-numbertext {
    color: var(--lightbox-modal-numbertext);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.lb-img {
    margin-bottom: -4px;
}

.lb-caption-container {
    text-align: center;
    background-color: var(--lightbox-modal-caption-bgcolor);
    padding: 2px 16px;
    color: var(--lightbox-modal-caption-color);
}

.lb-modal-thumb-select {
    opacity: 0.6;
}

.lb-active,
.lb-modal-thumb-select:hover {
    opacity: 1;
}

.lb-hover-shadow {
    transition: 0.3s;
}

.lb-hover-shadow:hover {
    box-shadow: 0 4px 8px 0 var(--lightbox-hover-shadow), 0 6px 20px 0 var(--lightbox-hover-shadow);
}
