/*
    nobs.css - CSS for the "Website Template - No Bootstrap" project

    Author: https://github.com/jxmot
    Repository: https://github.com/jxmot/website_template-no_bootstrap
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
/* 
    Works everywhere, EXCEPT firefox android! 

    Ok, so FF is adding a varying amount (a 
    percentage?) to the value below. Again...
    WHY?

*/
    font-size: 16px;
}

body {
    background-color: var(--body-bg);
    color: var(--body-text);
    font-family: "Roboto", sans-serif;
}

/* Header */
.nav-header {
    z-index: 1;

    background-color: var(--nav-header-bgcolor);
    box-shadow: 0 5px var(--nav-header-bgcolor);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    /* when the logo HTML is removed 
    this will fix the nav-bar */
    display: inline-block;
}

.nav-header a {
    text-decoration: none;
}

/* Logo Text */
.nav-logo {
    display: inline-block;
    color: var(--nav-logo-text);
    font-size: 30px;
    margin-left: 10px;
}

.nav-logo:hover {
    color: var(--nav-logo-text-hover);
}

@media (min-width: 768px) {
    .nav-logo {
        font-size: 60px;
        margin-left: 10px;
        margin-top: 0;
    }
}

/* Logo Image */
.nav-logo-img {
    display: inline-block;
    margin-left: 10px;
}

.logo-img {
    width: 50px;
    -webkit-clip-path: circle(25px at center);
            clip-path: circle(25px at center);
    content: url("../../no_bootstrap.png");
}

@media (min-width: 768px) {
    .nav-logo-img{
        margin-left: 10px;
        margin-top: 0;
    }
    .logo-img {
        width: 80px;
        -webkit-clip-path: circle(37px at center);
                clip-path: circle(37px at center);
    }
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* change the value depending on the number of
 items in the menu
*/
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
}

/* mobile menu item highlight */
.menu {
    list-style: none;
    margin-top: 0;
}
.menu a{
    text-decoration: none;
    display: block;
    color: var(--nav-menu-text);
}
.menu a:hover{
    background-color: var(--nav-menu-hamb-hover-bgcolor);
    color: var(--nav-menu-hamb-hover-color);
}

/* change the value depending on the number of
 items in the menu
*/
@media (min-width: 768px) {
    .menu {
        margin-top: 0;
    }

    .menu > li {
        float: left;
    }

    .menu a {
        /* padding is managed in nobs-logo.js:setLogo() */
    }
    
    /* menu item highlight */
    .menu a:hover {
        background-color: var(--transparent);
        color: var(--nav-menu-text-hover);
    }
    
    .nav-icon {
        display: none;
    }
}

.menu-item-pad-logo {
    padding: 10px 15px 10px 15px;
}
.menu-item-pad-no_logo {
    padding: 10px 30px 10px 30px;
}

/* change the value depending on the number of
 items in the menu
*/
@media (min-width: 768px) {
    .menu-item-pad-logo {
        padding: 30px 15px 30px 15px;
    }
    .menu-item-pad-no_logo {
        padding: 10px 30px 10px 30px;
    }
}

/* Menu Icon */
.nav-icon {
    cursor: pointer;
    float: right;
}

.nav-icon-border {
    margin-top: .25rem;
    margin-right: .25rem;
    border: 2px solid var(--nav-hambicon-bgcolor);
    border-radius: 0.25rem;    
}

.nav-icon:hover {
    background: var(--nav-hambicon-bgcolor-hover);
}

.nav-icon-no_logo {
    padding: 20px 20px;
}

.nav-icon-logo {
    padding: 20px 20px;
}

.nav-icon-pad {
    padding: 1rem .5rem;
}

.nav-icon-line {
    background: var(--nav-hambicon-bgcolor);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.nav-icon-line::before, .nav-icon-line::after {
    background: var(--nav-hambicon-bgcolor);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.nav-icon-line::before {
    top: 5px;
}

.nav-icon-line::after {
    top: -5px;
}

#nav_togg {
    display: none;
}

/* Toggle menu icon */
#nav_togg:checked ~ nav {
    max-height: 100%;
}

#nav_togg:checked ~ .nav-icon .nav-icon-line {
    background:  var(--transparent);
}

#nav_togg:checked ~ .nav-icon .nav-icon-line::before {
    transform: rotate(-45deg);
    top:0;
}

#nav_togg:checked ~ .nav-icon .nav-icon-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Main content */
.main-content {
    /* This will be changed programmatically to 
       the height of the footer + 15%
    */
    padding-bottom: 2rem;
}

.main-heading-title, .main-heading-text {
    text-align: center;
}

.section-body {
    margin-left: 2rem;
    margin-right: 2rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section-title {
    font-size: 1.9em;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.section-text {
}

/* needed because reseter.css adjusted <ul> and <ol> */
.section-body ul {
    margin-left: 2rem;
}

/* Footer */
.footer {
    bottom: 0;
    position: fixed;
    background-color: var(--footer-bgcolor);
    width: 100vw;

    text-align: center;
    height: 3rem;
}

.footer-text {
    color: var(--footer-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-text a {
    text-decoration: none;
    color: var(--footer-text);
}

/*
    Embellishments....
*/
.home-bg {
    z-index: -1;
    background:url("https://picsum.photos/1920/1080") no-repeat center;
    background-size:cover;
}

.home-bg-overlay {
    background-color: var(--trans-black);
}

.home-body {
    color: var(--white);
}

.theme-sw, .themesw {
    cursor: pointer;
}

.theme-sw::hover, .themesw::hover {
    cursor: pointer;
}