/*  nobs-gallery.css - CSS for the "Gallery" of images.

    Author: https://github.com/jxmot
    Repository: https://github.com/jxmot/website_template-no_bootstrap
*/
.gallery {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 1em;

    grid-auto-flow: row;
    justify-items: center;
    justify-content: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.grid-img-cell {
    position: relative;
    text-align:center;
}

.gallery-img {
    border: 2px solid black;
    max-width: 50%;
}

@media (min-width: 768px) {
    .gallery-img {
        max-width: 100%;
    }
}

/* centered */
.text-overimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-weight: 900;
    color: red;
    background-color: black;
}

@media (min-width: 768px) {
    .text-overimg {
        color: yellow;
    }
}
