/*
    nobs.css - CSS for the "Website Template - No Bootstrap" project

    Author: https://github.com/jxmot
    Repository: https://github.com/jxmot/website_template-no_bootstrap
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body{
    background-color: var(--body-bg);
    color: var(--body-text);
    font-family: "Roboto", sans-serif;
}

/* Header */
.nav-header {
    background-color: var(--nav-header-bgcolor);
    box-shadow: 0 5px var(--nav-header-bgcolor);
    position: sticky;
    top: 0;
    width: 100%;
    /* when the logo HTML is removed 
    this will fix the nav-bar */
    display: inline-block;
}

/* Logo Text */
.nav-logo{
    display: inline-block;
    color: var(--nav-logo-text);
    font-size: 30px;
    margin-left: 10px;
}

@media (min-width: 768px) {
    .nav-logo{
        font-size: 60px;
        margin-left: 10px;
        margin-top: 0;
    }
}

/* Logo Image */
.nav-logo-img {
    display: inline-block;
    margin-left: 10px;
}

.logo-img {
    width: 50px;
    clip-path: circle(25px at center);
    content: url("../../no_bootstrap.png");
}

@media (min-width: 768px) {
    .nav-logo-img{
        margin-left: 10px;
        margin-top: 0;
        width: 30px;
    }
    .logo-img {
        width: 80px;
        clip-path: circle(37px at center);
    }
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
}

/* mobile menu item highlight */
.menu {
    list-style: none;
    margin-top: 0;
}
.menu a{
    text-decoration: none;
    display: block;
    color: var(--nav-menu-text);
}
.menu a:hover{
    background-color: var(--nav-menu-hamb-hover-bgcolor);
    color: var(--nav-menu-hamb-hover-color);
}

@media (min-width: 768px) {
    .menu {
        margin-top: 0;
    }

    .menu li {
        float: left;
    }

    .menu a {
        /* padding is managed in logo.js:setLogo() */
    }
    
    /* menu item highlight */
    .menu a:hover {
        background-color: var(--transparent);
        color: var(--nav-menu-text-hover);
    }
    
    .nav-icon {
        display: none;
    }
}

.menu-item-pad-logo {
    padding: 10px 15px 10px 15px;
}
.menu-item-pad-no_logo {
    padding: 10px 30px 10px 30px;
}

@media (min-width: 768px) {
    .menu-item-pad-logo {
        padding: 30px 15px 30px 15px;
    }
    .menu-item-pad-no_logo {
        padding: 10px 30px 10px 30px;
    }
}

/* Menu Icon */
.nav-icon {
    cursor: pointer;
    float: right;
}

.nav-icon-nologo {
    padding: 20px 20px;
}

.nav-icon-logo {
    padding: 20px 20px;
}

.nav-icon-line {
    background: var(--nav-hambicon-bgcolor);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.nav-icon-line::before, .nav-icon-line::after {
    background: var(--nav-hambicon-bgcolor);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.nav-icon-line::before {
    top: 5px;
}

.nav-icon-line::after {
    top: -5px;
}

#nav-togg {
    display: none;
}

/* Toggle menu icon */
#nav-togg:checked ~ nav {
    max-height: 100%;
}

#nav-togg:checked ~ .nav-icon .nav-icon-line {
    background:  var(--transparent);
}

#nav-togg:checked ~ .nav-icon .nav-icon-line::before {
    transform: rotate(-45deg);
    top:0;
}

#nav-togg:checked ~ .nav-icon .nav-icon-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Main content */
.main-content {
    /* This will be changed programmatically to 
       the height of the footer + 15%
    */
    padding-bottom: 2rem;
}

.main-heading-title, .main-heading-text {
    text-align: center;
}

.section-body {
    margin-left: 2rem;
    margin-right: 2rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Footer */
.footer {
    bottom: 0;
    position: fixed;
    background-color: var(--footer-bgcolor);
    width: 100vw;
}

.footer-text {
    text-align: center;
    color: var(--footer-text);
}
