/*
    nobs-totop.css - CSS for the "Website Template - No Bootstrap" project,
    this file is part of the "to top" feature.

    Author: https://github.com/jxmot
    Repository: https://github.com/jxmot/website_template-no_bootstrap
*/
.gototop {
    display: none;    
    position: fixed;

    /* location on page */
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);

    /* placement and colors */
    z-index: 99;  
    border: 1px solid var(--totop-border-color);
    background-color: var(--totop-inact-bgcolor);
    color: var(--totop-content-color);
    cursor: pointer;

    /* size & shape */
    height: 2em;
    width: 2em;
    padding: 0;

    /* circle 
    border-radius: 50%;
    */
    /* box, rounted corners */
    border-radius: 20%;
}

.gototop:hover {
    background-color: var(--totop-act-bgcolor);
    color: var(--totop-content-color);
}

.gototop-span {
    font-size: 1em;
}