/*



https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
https://css-tricks.com/introduction-fr-css-unit/
https://angrytools.com/css-grid/

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout

*/
.gallery {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-auto-flow: row;
    justify-items: center;
    justify-content: center;

    z-index: -1;
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.grid-img-cell {
    position: relative;
    z-index: -1;

    text-align:center
}

.gallery-img {
    border: 2px solid black;
    max-width: 50%;
}

@media (min-width: 768px) {
    .gallery-img {
        max-width: 100%;
    }
}

/* centered */
.text-overimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-weight: 900;
    color: red;
    background-color: black;
}

@media (min-width: 768px) {
    .text-overimg {
        color: yellow;
    }
}
