/*  nobs-default.css - The default color scheme

    Author: https://github.com/jxmot
    Repository: https://github.com/jxmot/website_template-no_bootstrap
*/
:root{
    /* Element Colors... */
    --body-bg: var(--white);
    --body-text: var(--black);

    --nav-header-bgcolor: var(--dark-grey);
    /* --nav-header-shadow: var(--grey); */

    --nav-menu-text-hover: var(--yellowish);
    --nav-menu-text: var(--white);

    --nav-logo-text: var(--white);

    --nav-menu-hamb-hover-bgcolor: var(--grey);
    --nav-menu-hamb-hover-color: var(--black);
    /* this actually the color of the hambuger icon */
    --nav-hambicon-bgcolor: var(--yellowish);

    --footer-text: var(--white);
    --footer-bgcolor: var(--nav-header-bgcolor);

    --totop-inact-bgcolor: var(--bright-red);
    --totop-act-bgcolor: var(--green);
    --totop-content-color: var(--white);
    --totop-border-color: var(--white);

    --contact-form-info-bgcolor: var(--nav-header-bgcolor);
    --contact-form-info-color: var(--white);
    --contact-form-form-bgcolor: var(--white);
    --contact-form-form-color: var(--black);
    --contact-form-form-focus: var(--bright-green);
    --contact-form-form-input-border:  var(--black);
    --contact-form-form-button-bgcolor: var(--light-grey);

    --lightbox-modal-bgcolor: var(--black);
    --lightbox-modal-content-bgcolor:  var(--white);
    --lightbox-modal-close: var(--white);
    --lightbox-modal-close-hover:  var(--light-grey);
    --lightbox-modal-close-focus: var(--lightbox-modal-close-hover);
    /* --lightbox-modal-next: var(--white); */
    --lightbox-modal-next: var(--bright-green);
    --lightbox-modal-prev: var(--lightbox-modal-next);
    --lightbox-modal-next-hover-bgcolor: rgba(0, 0, 0, 0.8);
    --lightbox-modal-prev-hover-bgcolor: var(--lightbox-modal-next-hover-bgcolor);
    --lightbox-modal-numbertext: var(--white);
    --lightbox-modal-caption-color: var(--white);
    --lightbox-modal-caption-bgcolor: var(--black);
    --lightbox-hover-shadow: var(--trans-black);
}