/*
    totop.css - CSS for the "Website Template - No Bootstrap" project,
    this file is part of the "to top" feature.

    Author: https://github.com/jxmot
    Repository: https://github.com/jxmot/website_template-no_bootstrap
*/
.gototop {
    display: none;    
    position: fixed;

    /* location on page */
    bottom: 0;
    right: 10%;
    margin-bottom: 10%;

    /* placement and colors */
    z-index: 99;  
    border: none; 
    outline: none;
    background-color: rgba(120, 10, 10, 0.7);
    color: white;   
    cursor: pointer;

    /* size & shape */
    height: 2em;
    width: 2em;
    /* circle 
    border-radius: 50%;
    */
    /* box, rounted corners */
    border-radius: 20%;
}

@media (min-width: 768px) {
    .gototop {
        right: 5%;
        margin-bottom: 5%;
    }
}

.gototop:hover {
    background-color: rgba(10, 120, 10, 0.7);
    color: white;
}

